NEXT_PUBLIC_APP_URL=http://localhost:3000

# GitHub contributions graph on the home page
# https://github.com/grubersjoe/github-contributions-api
NEXT_PUBLIC_GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de/v4

# Optional: GitHub token for repository stars display
GITHUB_API_TOKEN=
